@charset "UTF-8";
body {
  max-width: 100%;
  margin-left: 0;
  font-family: Helvetica;
  /* Parallax del Wallpaper*/
  background-image: url(../img/Wallpaper_imagine_dragons.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

main {
  background: #0b0b0b;
  background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
  background-size: cover;
  margin-bottom: 0%; }

.section_quinesomos {
  margin-left: 0;
  padding-left: 0; }

/** HEADER**/
/** Logo de imagine Dragons**/
.imgdr {
  display: flex;
  justify-content: center;
  border-radius: 2%;
  overflow: hidden; }

/**Div general del body**/
.contenedorgeneral {
  width: 100%;
  margin: 0 auto; }

/* MENU HAMBURGUESA */
.btn-burger {
  display: flex;
  float: right;
  width: 55px;
  height: 55px;
  background: none;
  border-radius: 5px;
  transition: all 0.7s ease-in-out; }

.btn-burger-icon {
  display: block;
  margin: auto;
  width: 30px;
  height: 4px;
  background-color: beige;
  border-radius: 2px;
  transition: all 0.7s ease-in-out;
  /* anidadas ambas clases :: before y :: after */ }
  .btn-burger-icon::before {
    content: '';
    display: block;
    margin: auto;
    width: 30px;
    height: 4px;
    background-color: beige;
    border-radius: 2px;
    transition: all 0.7s ease-in-out;
    transform: translateY(-10px); }
  .btn-burger-icon::after {
    content: '';
    display: block;
    margin: auto;
    width: 30px;
    height: 4px;
    background-color: beige;
    border-radius: 2px;
    transition: all 0.7s ease-in-out;
    transform: translateY(6px); }

/* TERMINA MENU HAMBURGUESA */
.navheader a {
  color: bisque; }

.navheader a:hover {
  color: red;
  text-decoration: underline; }

.header_escritorio {
  display: none !important; }

.footerclass {
  background: #56095b;
  background: linear-gradient(rgba(127, 12, 135, 0.458) 0%, rgba(6, 6, 83, 0.482) 23%, rgba(0, 0, 0, 0.788) 57%, rgba(0, 0, 0, 0.811) 85%);
  background-size: cover;
  margin: auto; }
  .footerclass .footer_info {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center; }
  .footerclass .footer_letras {
    display: flex;
    top: 70%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    font-size: 70%;
    letter-spacing: 2.5px;
    font-family: 'Secular One', sans-serif;
    color: beige; }
  .footerclass .logofooter {
    width: 30%;
    float: left;
    padding-top: 5%;
    padding-bottom: 5%; }

@media (min-width: 576px) and (max-width: 991px) {
  main {
    background: #0b0b0b;
    background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
    background-size: cover;
    margin-bottom: 0%; } }

main {
  padding: 10%; }

.mainprincipal_index {
  background: #56095b;
  background: linear-gradient(rgba(127, 12, 135, 0.458) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(0, 0, 0, 0.458) 85%);
  background-size: cover; }

.carrusel {
  padding: 0%;
  width: fit-content;
  height: 150%; }

.maindiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  background: #0b0b0b;
  background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
  background-size: cover; }
  .maindiv .titulo_maindiv {
    font-family: 'Secular One', sans-serif;
    color: beige;
    font-size: 15px;
    text-align: center;
    margin-bottom: auto;
    padding-top: 2.5%;
    padding-bottom: 5%; }

/** Section **/
.div_sectionprincipal h3 {
  /** "Escucha nuestro nuevo album! **/
  position: relative;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: cornsilk;
  text-align: center; }

.div_sectionprincipal .secdiv2 {
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%; }

.div_sectionprincipal .secdiv1 {
  gap: 15%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/** IMAGEN MERCURY ACT 1**/
.a_album1 {
  width: 50vw; }

/** VIDEO PUESTO**/
.secdiv2 {
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%; }

iframe {
  min-height: 27vw; }

/* TABLET */
@media (min-width: 576px) and (max-width: 991px) {
  main {
    padding: 0%;
    padding: auto;
    background: #0b0b0b;
    background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
    background-size: cover;
    margin-bottom: 0%; }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%); }
  .btn-burger {
    display: none !important; }
  .maindiv {
    background: #0b0b0b; }
  .titulo_maindiv {
    line-height: normal;
    text-align: end;
    font-size: 1em; }
  .div_sectionprincipal {
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%; }
    .div_sectionprincipal h3 {
      /** "Escucha nuestro nuevo album! **/
      position: relative;
      font-size: 22px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: cornsilk; }
    .div_sectionprincipal iframe {
      width: 100%; } }

/* MEDIA QUERY DEL ESCRITORIO */
@media (min-width: 993px) {
  main {
    padding: auto;
    background: #0b0b0b;
    background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
    background-size: cover;
    margin-bottom: 0%; }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%); }
  .btn-burger {
    display: none !important; }
  .giffrontal {
    width: 100%; }
  .navheader a:hover {
    color: red;
    text-decoration: underline; }
  .maindiv {
    padding: 2px 15px;
    margin-top: -5px;
    background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(12, 110, 135, 0) 85%); }
    .maindiv h2 {
      color: aliceblue;
      font-size: 1.1em; }
  .secdiv2 {
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .div_sectionprincipal {
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%; }
    .div_sectionprincipal h3 {
      /** "Escucha nuestro nuevo album! **/
      position: relative;
      font-size: 22px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: cornsilk; }
  section h3 {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk; }
  iframe {
    width: 120%; } }

aside {
  height: 70px;
  text-align: center;
  color: aliceblue; }

/*===============================================================================================================================================  
                                                              TERMINA INDEX COMIENZA DISCOGRAFIA
   ================================================================================================================================================*/
main {
  padding: 0%; }

.nuestra_discografia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  color: bisque;
  font-weight: 575; }

.intro {
  background: black;
  font-family: 'Secular One', sans-serif;
  margin: 0%;
  padding: 0%; }

.p_class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  color: black;
  font-weight: 460;
  padding-left: 5%;
  padding-right: 5;
  color: white; }

/*===============================================================================================================================================  
                                                              TERMINA INDEX COMIENZA DISCOGRAFIA
   ================================================================================================================================================*/
main {
  padding: 0%; }

.nuestra_discografia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  color: bisque;
  font-weight: 575; }

.intro {
  background: black;
  font-family: 'Secular One', sans-serif;
  margin: 0%;
  padding: 0%; }

.p_class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  color: black;
  font-weight: 460;
  padding-left: 5%;
  padding-right: 5;
  color: white; }

section .viejos_clasicos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  color: beige;
  font-weight: 300; }

section .flex_superior {
  align-items: center;
  align-content: space-between; }

section .album1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row-reverse; }
  section .album1 p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    font-weight: 800;
    margin: 5%;
    padding-top: 5%; }

section .album2 {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center; }
  section .album2 p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 800;
    margin: 5%;
    padding-top: 5%; }

section .album3 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 5%;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: stretch;
  padding-top: 5%; }
  section .album3 p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    font-weight: 800;
    margin: 5%;
    padding-top: 5%; }

section .album4 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: baseline; }

.nuevo_repertorio {
  display: flex;
  justify-content: center; }

.album4 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: flex-end; }
  .album4 p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 800;
    margin: 5%;
    padding-top: 5%; }

.album5 {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: flex-start;
  margin: 5%;
  padding-top: 5%; }
  .album5 p {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    font-weight: 800;
    margin: 5%;
    padding-top: 5%; }

@media (min-width: 576px) and (max-width: 991px) {
  .intro {
    background: black;
    font-family: 'Secular One', sans-serif; }
  .p_class {
    margin: 0%;
    color: white; }
  .flex_superior .album1 {
    background-image: url(/img/night_visions_discografia_frontjpg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: baseline;
    padding-top: 20%;
    padding-bottom: 30%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .flex_superior .album2 {
    background-image: url(/img/smoke+mirrors_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;
    margin: 0%; }
  .flex_superior .foto_solid {
    opacity: solid; }
  .flex_superior .album3 {
    background-image: url(/img/evolve_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: column;
    margin: 0%; }
  .flex_superior .album4 {
    background-image: url(/img/origins_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
    margin: 0%; }
  .flex_superior .album5 {
    margin: 0%;
    background-image: url(/img/mercuryact1_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 5%; }
  .flex_superior .pad_album {
    padding-top: 20%; }
  .flex_superior .foto_album {
    width: 22rem; } }

@media (min-width: 992px) {
  .p_class {
    margin: 0%;
    color: white; }
  .flex_superior .album1 {
    background-image: url(/img/night_visions_discografia_frontjpg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: baseline;
    padding-top: 0%;
    padding-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .flex_superior .album2 {
    background-image: url(/img/smoke+mirrors_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 5%;
    margin: 0%; }
  .flex_superior .foto_solid {
    opacity: solid; }
  .flex_superior .album3 {
    background-image: url(/img/evolve_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 5%;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: column;
    margin: 0%; }
  .flex_superior .album4 {
    background-image: url(/img/origins_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 5%;
    margin: 0%; }
  .flex_superior .album5 {
    margin: 0%;
    background-image: url(/img/mercuryact1_discografia_front.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 5%; }
  .flex_superior .pad_album {
    padding-top: 20%; }
  .flex_superior .foto_album {
    width: 22rem; } }

.mercury_tour {
  display: flex;
  justify-content: center;
  color: white; }

.div_titulo {
  background-color: #0b0b0b;
  margin-bottom: 5%;
  padding: 5;
  width: 100%; }
  .div_titulo .mercury_tour {
    font-family: 'Secular One', sans-serif; }

section .section_strongclass {
  display: flex;
  justify-content: center;
  text-align: center;
  color: beige;
  font-family: 'Secular One', sans-serif;
  font-size: medium;
  font-weight: 500;
  padding: 1%; }

section .flex_container {
  border: 1px solid #5f5252;
  width: auto;
  background-color: rgba(125, 198, 186, 0.464);
  margin-left: auto;
  align-content: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0;
  gap: 5%;
  margin: 10%; }

section .izquierda {
  margin-left: 0%;
  margin-right: auto; }

section .derecha {
  margin-right: 0%;
  margin-left: auto; }

section .fecha_tour {
  background-color: #255d53;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Aboreto', cursive;
  color: #d0d5d5; }

section .letra_fecha {
  font-size: 25px; }

section .lugares_tour {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Aboreto', cursive; }

section .link_localtour {
  color: black;
  font-family: 'Aboreto', cursive;
  text-decoration: none; }

@media (min-width: 576px) and (max-width: 991px) {
  .flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%; }
  .lugares_tour {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
  .letra_fecha {
    font-size: 25px; } }

@media (min-width: 992px) {
  .letra_fecha {
    font-size: 35px; } }

.texto_fotoquienesomos {
  display: flex; }
  .texto_fotoquienesomos .fotoquienesomos {
    width: 100%; }

.textoquienesomos {
  color: white;
  font-family: 'Secular One', sans-serif;
  text-align: center; }
  .textoquienesomos p {
    margin-bottom: 0%; }

.texto_fotoquienesomos2 {
  display: flex; }
  .texto_fotoquienesomos2 .fotoquienesomos2 {
    width: 100%; }

.textoquienesomos2 {
  color: white;
  font-family: 'Secular One', sans-serif;
  text-align: center; }
  .textoquienesomos2 p {
    margin-bottom: 0%; }

.h1_quienesomos {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-weight: 300;
  font-family: 'Secular One', sans-serif; }

.texto_quienesomos {
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.texto_contacto {
  text-align: center;
  color: white;
  font-family: 'Secular One', sans-serif; }

.estilo_formulario {
  text-align: center;
  background-color: #0b0b0b;
  background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
  background-size: cover;
  margin-bottom: 0%;
  padding: 17%;
  color: beige;
  font-family: 'Secular One', sans-serif;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(127, 12, 135, 0.149); }

@media (min-width: 576px) and (max-width: 991px) {
  .estilo_formulario {
    display: flex;
    flex-direction: column; }
  .texto_contacto {
    padding-bottom: 5%;
    padding-top: 7%;
    text-align: center; } }

@media (min-width: 992px) {
  .estilo_formulario {
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 2%; }
  .texto_contacto {
    padding-bottom: 5%;
    padding-top: 7%;
    text-align: center; } }

/** FORMATO DE CSS HECHO CON MOBILE FIRST PARA APLICAR MEDIA QUERIES**/
/*===============================================================================================================================================  
                                                              TERMINA INDEX COMIENZA DISCOGRAFIA
   ================================================================================================================================================*/
/* ESCUCHA NUESTRO NUEVO REPERTORIO */
/* ===============================================================================================
       Media queries para Discografía                                 
   =================================================================================================*/
