  /* ASIDE TEXTO PREVIO FOOTER */
aside{
    height: 89px;
   margin-bottom: 4%;
    text-align: center;
    color: aliceblue;
    p{       font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 200;
      color: bisque;
        /* font weight es para hacerlo "strong", le podes ajustar q tan strong jejeje*/ }
         }