/* TABLET */

@media (min-width: 576px) and (max-width: 991px)
  { 
    main{
      padding: 0%;
      padding: auto;
      background: rgb(11, 11, 11);
      background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9,9,121,0.458) 23%, rgba(0,0,0,0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
              background-size: cover;
              margin-bottom: 0%;
    }
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  
    .btn-burger{
      display: none !important;
    }
  
    .maindiv{
      background: #0b0b0b ;
    }
    
      .titulo_maindiv{
        line-height: normal;
        text-align:end;
        font-size: 1em

      }
      .div_sectionprincipal{
        padding-top: 5%;
        padding-bottom: 10%;
        display: flex;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
   
  
       & h3{  /** "Escucha nuestro nuevo album! **/
          position: relative;
          font-size: 22px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: cornsilk;
      
        }
      
        iframe{
          width: 100%;
        }

       
        margin-left: 0%;
        margin-right: 0%;
      
      }
      
      

    
    

   
    
  
    
    
    
  
   } 


   /* MEDIA QUERY DEL ESCRITORIO */
  
   @media (min-width: 993px) {
    main {
      padding: auto;
      background: rgb(11, 11, 11);
      background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9,9,121,0.458) 23%, rgba(0,0,0,0.458) 57%, rgba(127, 12, 135, 0.458) 85%);
              background-size: cover;
              margin-bottom: 0%;
  }
  
  
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .btn-burger{
    display: none !important;
  }
  .giffrontal { 
    width: 100%;
  }
  
  
  
  .navheader a:hover {
      color: red;
      text-decoration: underline;
  }
  
  
    .maindiv {
      padding: 2px 15px;
      margin-top: -5px;
      background: linear-gradient(rgba(0, 0, 0, 0.557) 0%, rgba(9, 9, 121, 0.458) 23%, rgba(0, 0, 0, 0.458) 57%, rgba(12, 110, 135, 0) 85%);
      
    
  
  & h2 {
    color: aliceblue;
    font-size: 1.1em;
  }
}
  .secdiv2 {
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 
    }
  
    .div_sectionprincipal{
      padding-top: 5%;
      padding-bottom: 10%;
      display: flex;
      text-align: center;
      margin-left: 0%;
      margin-right: 0%;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: center;
 

      h3{  /** "Escucha nuestro nuevo album! **/
        position: relative;
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: cornsilk;
    
      }
     
      margin-left: 0%;
      margin-right: 0%;
    
    }
  
    section h3 {
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: cornsilk;
    }

    iframe{
      width: 120%;
    }
    

  
    }
  
    aside{
      height: 70px;
      text-align: center;
      color: aliceblue;}       
   