/* TABLET */

@media (min-width: 576px) and (max-width: 991px)
  { 
    
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  
    .btn-burger{
      display: none !important;
    }
    .giffrontal { 
      width: 75%;
    
    }
    
    .textocostado {
    display: flex; 
    justify-content:center ;
    }
    
  
    .textocostado {
      display: grid; 
      grid-template-rows: 2fr 1fr;
      }
      .maindiv {
        width: 100%;
        padding: 0;
        margin-top: .2px;
        font-size: 0.8em;
        text-align: center;
      }
      .giffrontal{
        width: 100%;
      }
  
  
    .secdiv2 {
      padding-right: 0px;
      }
  
      .div_sectionprincipal {
  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
        
      }
    
      section h3 {
        font-size: 35px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: cornsilk;
      }

       .a_album1 {
          width: 45vw;
          display: flex;
          align-self:center
          
        }
      
        .a_album2 {
          height: 31.5vh;
          bottom: 3%;
        }
      
      aside{
        height: 70px;
        padding: 20px 10px 10px 10px;
        text-align: center;
        color: aliceblue;
        
       p{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
              /* font weight es para hacerlo "strong", le podes ajustar q tan strong jejeje*/
            }
        }
      
    .footer_letras{
      font-size: larger;
      justify-self: baseline;
      row-gap: 2rem;
    }
  
   } 


   /* MEDIA QUERY DEL ESCRITORIO */
  
   @media (min-width: 993px) {
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  

  
  .imgdr {
      display: flex;
      justify-content: center;
  }
  
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .btn-burger{
    display: none !important;
  }
  .giffrontal { 
    width: 100%;
  }
  
  
  
  .navheader a:hover {
      color: red;
      text-decoration: underline;
  }
  
  
    .maindiv {
      padding: 2px 15px;
      margin-top: -5px;
      
    
  
  & h2 {
    color: aliceblue;
    font-size: 1.1em;
  }
}
  .secdiv2 {
  right: 20%; 
    }
  
    .div_sectionprincipal {
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: 20rem;
      
    }
  
    section h3 {
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: cornsilk;
    }
  
    .a_album1 {
      width: 25vw;
      display: flex;
      align-self:center
      
    }
  .a_album2 {
    width: 30vw;
    left: 3rem;
  
  }
  
    }
  
    aside{
      height: 70px;
      text-align: center;
      color: aliceblue;
    
    & p {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
        /* font weight es para hacerlo "strong", le podes ajustar q tan strong jejeje*/
      }
      }
  
      .footerclass{ background-color: rgba(135, 137, 139, 0.499);
        position: relative;
         
        
      }
      
      .redes_sociales {
          display: flex;
          justify-content: flex-end;
          left: 14px;
      }
      .footer_letras {
        display: flex;
        top: 70%;
        flex-direction: row;
        p {
            font-size: larger;
            color: bisque;
          }
    
      }
      
      .logofooter{ width: 17.5%;
        top: 50px;
        
      } 