

      /** Section **/
      .div_sectionprincipal{
   
  
  h3{  /** "Escucha nuestro nuevo album! **/
    position: relative;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    text-align: center;

  }
& .secdiv2{
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
  margin-left: 0%;
  margin-right: 0%;

}
  & .secdiv1 {
    gap: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
    
      /** IMAGEN MERCURY ACT 1**/

  .a_album1 {
    width: 50vw;
  }
      /** VIDEO PUESTO**/

      .secdiv2{
        padding-top: 5%;
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
       
        margin-left: 0%;
        margin-right: 0%;
      }
  iframe{
    min-height: 27vw;
  }

  