.profile_imgdan{
    & .foto_dan {
        width: 150px;
        margin-right: 25px;
        margin-bottom: 3px;
        float: left;
      }

}

.contenido_bloque{
    display: flex;
    flex-direction: column;
    box-shadow: 12px;
    border: 2px;
    border-style: solid;
    border-color: wheat;
    background-color: grey;
}

.nombre_artista {
    display: flex;
    justify-content: center;
}

.info_perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    align-content: center;
    
}

.profile_imgwayne{
        & .foto_wayne{
            height: 150px;
            width: 200px;
            float: left;
            margin-right: 5%;
        }
}


.profile_imgben{
    & .foto_ben{
        height: 150px;
        width: 200px;
        float: left;
        margin-right: 5%;
    }
}



