.texto_fotoquienesomos{
    display: flex;

    .fotoquienesomos{
        width: 100%;
    }  
}

.textoquienesomos{
    color: white;
    font-family: 'Secular One', sans-serif;
    text-align: center;

    p{
        margin-bottom: 0%;
    }
}

.texto_fotoquienesomos2{
    display: flex;

    .fotoquienesomos2{
        width: 100%;
    }  
}

.textoquienesomos2{
    color: white;
    font-family: 'Secular One', sans-serif;
    text-align: center;

    p{
        margin-bottom: 0%;
    }
}


