.h1_quienesomos{
    display: flex;
    justify-content: center;
    color: rgb(224, 156, 74);
    font-weight: 600;
}

.texto_quienesomos{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}