.h1_quienesomos{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-weight: 300;
    font-family: 'Secular One', sans-serif;
}

.texto_quienesomos{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}