@media (min-width: 576px) and (max-width: 991px) {
  
  .intro{
    background: black;
    font-family: 'Secular One', sans-serif;

  }

.p_class{
  margin: 0%;
  color: white;
}

.flex_superior{
    .album1{
      background-image: url(/img/night_visions_discografia_frontjpg.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: baseline;
      padding-top: 30%;
      padding-bottom: 30%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

     
     }
    


    .album2{
      background-image: url(/img/smoke+mirrors_discografia_front.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-between;
      align-items: center;
       padding-top: 30%;
       padding-bottom: 30%;
       margin: 0% ;
     }
     
     .foto_solid{
      opacity: solid;
      ;
     }
   
    .album3{
      background-image: url(/img/evolve_discografia_front.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      padding-top: 30%;
      padding-bottom: 30%;
      justify-content: space-between;
      align-content: flex-start;
      flex-direction: column;
  margin: 0%;
 } 

 .album4{
  background-image: url(/img/origins_discografia_front.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
       padding-top: 30%;
       padding-bottom: 30%;
       margin: 0%;
       

 }
 .album5{
  margin: 0%;
  background-image: url(/img/mercuryact1_discografia_front.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      justify-content: space-between;
      align-items: center;
       padding-top: 30%;
       padding-bottom: 30%;
 }

 .pad_album{
  padding-top: 20%;
 }
 .foto_album{
  width: 22rem;
 }
}

     
   
   }
   
   @media (min-width: 992px) { 

    .p_class{
      margin: 0%;
      color: white;
    }
    
    .flex_superior{
      .album1{
        background-image: url(/img/night_visions_discografia_frontjpg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: baseline;
        padding-top: 30%;
        padding-bottom: 30%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
  
       
       }
      
  
  
      .album2{
        background-image: url(/img/smoke+mirrors_discografia_front.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
         padding-top: 30%;
         padding-bottom: 30%;
         margin: 0% ;
       }
       
       .foto_solid{
        opacity: solid;
        ;
       }
     
      .album3{
        background-image: url(/img/evolve_discografia_front.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        padding-top: 30%;
        padding-bottom: 30%;
        justify-content: space-between;
        align-content: flex-start;
        flex-direction: column;
    margin: 0%;
   } 
  
   .album4{
    background-image: url(/img/origins_discografia_front.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
         padding-top: 30%;
         padding-bottom: 30%;
         margin: 0%;
         
  
   }
   .album5{
    margin: 0%;
    background-image: url(/img/mercuryact1_discografia_front.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
         padding-top: 30%;
         padding-bottom: 30%;
   }
  
   .pad_album{
    padding-top: 20%;
   }
   .foto_album{
    width: 22rem;
   }
  }
}