@mixin flex_container {
    border: 1px solid rgb(95, 82, 82); 
    width: auto;
    background-color: rgba(125, 198, 186, 0.464);
    margin-left: auto;

   
}

@mixin fecha_tour {
    background-color: rgba(37, 93, 83, 1);
    padding: 2rem;
}

@mixin lugares_tour {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}