body {
    max-width: 100%;
    font-family: Helvetica;
  /* Parallax del Wallpaper*/
   background-image: url(../img/Wallpaper_imagine_dragons.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }